
body {
    font-family: arlette, AvenirLight, helvetica, arial, sans-serif;
    font-weight: 500;
    margin: 2em;
    background-color: #E6E6FA;
}

.center {
    margin: auto;
}

nav {
    float: right;
}

nav:hover{
    color: #8c1aff;
}

nav ul{
    margin: 0;
    padding: 10;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 15px;
}

nav a{
    color: 	#7B68EE;
    text-decoration: none;
    text-transform: uppercase;
}
 
nav a:hover{
     color: #8c1aff;
}
    


h1{
    font-family: 'Advent Pro', sans-serif;
    float: middle;
    font-size: 100px;
    line-height: 10px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    margin-bottom:0;
    text-transform: uppercase; 
    color: #dd99ff;
}

p2 {
   font-family: 'Advent Pro', sans-serif;
    float: left;
    font-size: 20px;
    line-height: 100px;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    margin-bottom:0;
    text-transform: uppercase; 
    color: #7B68EE; 
}



iframe 
{width: 100%; 
height: 100%;
 border:0; 
 overflow-y: auto; 
 overflow-x: auto;
}
