body{
    background-color: #E6E6FA;
    font-family: arlette, AvenirLight, helvetica, arial, sans-serif;
    font-weight: 500;
    font-size: 15px;
    margin: 2em;
    text-decoration: none;
    background-color: #E6E6FA;
    text-transform: uppercase; 
    align-items: center;
}


h1 {
    font-family: 'Advent Pro', sans-serif;
    float: middle;
    font-size: 100px;
    line-height: 100px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    margin-bottom:0;
    text-transform: uppercase; 
    color: #dd99ff;
}
iframe{
    width:400px;
    height: 400px; 
    align-items: baseline;
}

.grid-item: {
       color: #dd99ff;
}  
  
.grid-item:hover{
     color: #8c1aff;
}
  
   
}
.grid-container {
   text-decoration: none;
    align-items: flex-start;
     text-decoration: none;
    
    
}

